@font-face {
  font-family: "Lora-Regular";
  src: url(Lora-Regular.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "KeeponTruckin";
  src: url(KeeponTruckin.ttf);
  font-style: normal;
  font-weight: 100;
}

body {
  margin: 0;
  background-image: linear-gradient(#009999, #98FB98);
}

hr {
  color: white;
  background-color: #009999;
}

.navdesign {
  background-color: #009999;
  list-style: none;
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
}

nav li{
  display:inline-block;
}

nav a {
  font-family: "Lora-Regular";
  font-size: 14px;
  color: white;
  text-decoration: none; 
	width: 140px;
	margin-left: 2px;
	border: 1px solid #FFFF66;
  text-align: center;
  border-radius: 8%;
  font-weight: bold;
  padding: 2px;
}

nav a:hover {
  box-shadow: 2px 2px 2px 2px #7FFFD4;
  border: #7FFFD4
}

main {
  height: 2000px;
  width: 100%;
  background-image: linear-gradient(#009999, #98FB98);
  color: white;
  text-align: center;
  font-family: "KeeponTruckin";
  letter-spacing: 2px;
}

.profilepic {
  border-radius: 70%;
  border: #FFFF66 2px double;
  height: 150px;
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 45px;
  padding-top: 20px;
}

.headline {
  font-size: 16px;
  font-family: "Lora-Regular";
  margin-left: 20px;
  margin-right: 20px;
  letter-spacing: 1px;
}

.icons{
  padding-left: 0;
}

.linkedin {
  list-style: none;
  margin: 10px;
  display: inline-block;
  font-size: 20px;
  padding: 20px 20px;
  color: #FFFF66;
  border: 1px solid #FFFF66;
  border-radius: 50%;
  transition: .5s;
  cursor: pointer;
}

.linkedin:hover {
  color: #7FFFD4;
  border: 1px solid white;
  transition: .5s;
  box-shadow: 1px 1px 1px #7FFFD4;
}

.github {
  list-style: none;
  margin: 10px;
  display: inline-block;
  font-size: 20px;
  padding: 20px 20px;
  color: #FFFF66;
  border: 1px solid #FFFF66;
  border-radius: 50%;
  transition: .5s;
  cursor: pointer;
}

.github:hover {
  color: #7FFFD4;
  border: 1px solid white;
  transition: .5s;
  box-shadow: 1px 1px 1px #7FFFD4;
}

.email {
  list-style: none;
  margin: 10px;
  display: inline-block;
  font-size: 20px;
  padding: 20px 20px;
  color: #FFFF66;
  border: 1px solid #FFFF66;
  border-radius: 50%;
  transition: .5s;
  cursor: pointer;
}

.email:hover {
  color: #7FFFD4;
  border: 1px solid white;
  transition: .5s;
  box-shadow: 1px 1px 1px #7FFFD4;
}

.bio {
  font-size: 16px;
  text-align: left;
  margin: 0 auto;
  font-family: "Lora-Regular";
  letter-spacing: 1px;
  line-height: 27px;
  padding: 50px;
}

/* photos */
.content-wrapper {
  padding: 0 1%;
  width: 75%;
  margin: 0 auto;
}

.activities {
  display: inline-block;
  margin: 1%;
  padding: 20px;
  font-size: 30px;
  border: #FFFF66 solid 1px;
  border-radius: 8%;
  cursor: pointer;
}

.activities:hover {
  border: #7FFFD4 solid 1px;
  box-shadow: 2px 2px 2px 2px #7FFFD4;
}

.activities-link {
  display: block;
  text-decoration: none;
  color: #FFFF66;
  padding-bottom: 10px;
}

.activities-link:hover{
  color: #7FFFD4;
}

.projects {
  border-radius: 8%;
}

.projects:hover {
  box-shadow: 2px 2px 2px 2px #7FFFD4;
}

.writing {
  border-radius: 8%;
}

.writing:hover {
  box-shadow: 2px 2px 2px 2px #7FFFD4;
}

.video {
  border-radius: 8%;
}

.video:hover {
  box-shadow: 2px 2px 2px 2px #7FFFD4;
}

.social {
  border-radius: 8%;
}

.social:hover {
  box-shadow: 2px 2px 2px 2px #7FFFD4;
}

.footer {
 color: white;
 height: 20px;
 font-family:"Lora-Regular";
 text-align: center;
}

/* projects.html*/
.quizapp1 {
  margin: 0 auto;
  width: 80%;
  height: 40%;
  display: block;
  padding-bottom: 20px;
}

.text {
  font-family: "Loren-Regular";
  font-size: 16px;
}

.links1 {
  font-weight: bold;
  color: white;
  margin: 0 auto;
}
